<!DOCTYPE html>
<html ng-app="phonegularTest" ng-controller="PhonegularTestCtrl" ng-strict-di>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

		<link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">

        <title>Hello World</title>

		<script type="application/javascript" src="lib/angular/angular.js"></script>
    </head>
    <body layout="row" ng-cloak>
		<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
			<md-toolbar class="md-theme-indigo">
				<h1 class="md-toolbar-tools">Sidenav Left</h1>
			</md-toolbar>
			<md-content flex role="navigation" ng-controller="NavigationCtrl as navCtrl">
				<md-button ng-click="navCtrl.close()" class="md-primary" hide-gt-md>
					Close Sidenav Left
				</md-button>
				<ul hide-md show-gt-md>
					<li>
						<a class="md-button md-default-theme" href="#/phonegular/sound-manager">
							<span>Sound Manager</span>
						</a>
					</li>

					<li>
						<a class="md-button md-default-theme" href="#/phonegular/popup-manager">
							<span>Popup Manager</span>
						</a>
					</li>
				</ul>
			</md-content>
		</md-sidenav>

		<div layout="column" tabIndex="-1" role="main" flex>
			<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
				<div class="md-toolbar-tools app-toolbar-tools" ng-click="toggleLeft()" tabIndex="-1">
					<md-button class="md-icon-button" hide-gt-sm aria-label="Toggle Menu">
						<md-icon md-svg-src="img/icons/ic_menu_24px.svg"></md-icon>
					</md-button>

					<div layout="row" flex class="fill-height">
						<h2 class="md-toolbar-item">
							PAGE
						</h2>
					</div>
				</div>

				<span flex></span> <!-- use up the empty space -->
			</md-toolbar>


			<md-content ng-view md-scroll-y flex layout-padding></md-content>
		</div>

        <script type="application/javascript" src="cordova.js"></script>

		<script type="application/javascript" src="lib/hammer.js"></script>
		<script type="application/javascript" src="lib/angular/angular-touch.js"></script>
		<script type="application/javascript" src="lib/angular/angular-animate.js"></script>
		<script type="application/javascript" src="lib/angular/angular-aria.js"></script>
		<script type="application/javascript" src="lib/angular/angular-route.js"></script>
		<script type="application/javascript" src="lib/angular-material/angular-material.js"></script>
		<script type="application/javascript" src="lib/phonegular.js"></script>

		<script type="application/javascript" src="js/controllers.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
    </body>
</html>
