* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

.md-whiteframe-glow-z1 {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
	            0px 0px 2px 2px rgba(0, 0, 0, 0.098),
	            0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.site-content-toolbar {
	background: #f6f6f6 !important;
	color: #202020 !important;
	z-index: 3;
}

.app-toolbar-tools {
	max-width: 864px;
	padding: 0;
	margin: 0 24px;
	width: auto;
}


.app-toolbar-tools .md-button md-icon {
	color: #666 !important;
}
